<!-- NAVBAR -->
{% if view_value == "main" %}

<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container nav-items-width">
        <a class="navbar-brand" href="{{ url_for('main_table.order_table') }}">Refresh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('edit_table.add_order')}}">New Record</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Show Order</a>
                    <!-- adds order_name items from sql to drop-down menu -->
                    <ul class="dropdown-menu">
                        {% for order_name in show_names: %}
                        <li><a class="dropdown-item"
                                href="{{ url_for('main_table.filter_table', order_name=order_name) }}">
                                {{order_name }}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- ################### -->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Sort by</a>
                    <ul class="dropdown-menu">
                        <!-- adds header_names from sql to drop-down sort menu -->
                        {% for sort_name in headers[:-2] %}
                        {% if sort_name != ''%}
                        <li><a class="dropdown-item" href="{{ url_for('main_table.sort_table', sort_name=sort_name) }}">
                                {{sort_name }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <!-- ################# -->
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search" action="{{ url_for('main_table.search_table') }}" method="post">
                <input class="search-entry form-control me-2" type="search" placeholder="Search for order name..."
                    name="search" value="{{ search_form }}">
                <button class="search-button btn btn-dark " type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>

{% elif view_value == "form" %}

<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container nav-items-width">
        <a class="navbar-brand" href="{{ url_for('main_table.order_table') }}">Back</a>
    </div>
    </div>
</nav>

{% endif %}