{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Have a puppy that needs to be adopted?</h1>
  <p>Add a new puppy with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {# Cross-site request forgery (also known as CSRF) is a web security vulnerability that allows an attacker to induce users to perform actions that they do not intend to perform. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
