{% extends 'base/base.html' %}

{% block content %}
<!-- center all widgets like table -->
<div class="parent">
  <div class="child-add-new">
    <div class="container">
      <!-- create form -->
      <form method="POST" action="{{ url_for('edit_table.add_order') }}">
        <!-- add labels and inputs for first rows FOR and ID has to be same to fix label to input and etc.-->
        {% for name in label_names[0:-3] %}
        <div class="form-group">
          <label for="{{ name }}">{{ name }}: </label>
          <input class="form-control" id="{{ name }}" type="text" placeholder="Enter {{ name }}" name="{{ name }}"
            maxlength="70">
        </div>
        {% endfor %}
        <!-- ################## -->
        <!-- add term date picker-->
        {% for name in label_names[4:5] %}
        <div class="form-group">
          <label for="{{ name }}">{{ name }}: </label>
          <input class="form-control" id="{{ name }}" type="date" value="{{ date_today }}" min="{{ year }}-01-01"
            max="3000-12-31" name="{{ name }}" maxlength="70">
        </div>
        {% endfor %}
        <!-- ################## -->
        <!-- add status combo box -->
        {% for name in label_names[5:6] %}
        <div class="form-group">
          <label for="{{ name }}">{{ name }}: </label>
          <select class="form-select" id="{{ name }}" name="{{ name }}" maxlength="70">
            <option selected value="IN PROCESS">IN PROCESS</option>
            <option value="FINISHED">FINISHED</option>
            </select>
        </div>
        {% endfor %}
        <!-- ################## -->
        <!-- add comments areafield with 1000max elements you can write and 5rows height-->
        {% for name in label_names[6:7] %}
        <div class="form-group">
          <label for="{{ name }}">{{ name }}: </label>
          <textarea class="form-control" id="{{ name }}" type="text" placeholder="Enter {{ name }}" name="{{ name }}"
            rows="5" maxlength="1000" style="resize: none;"></textarea>
          <br>
        </div>
        {% endfor %}
        <!-- ################## -->
        <!-- submit new record -->
        <button type="submit" class="btn btn-dark button-add-new-update">Submit</button>
        <!-- ################## -->
      </form>
      <!-- ################## -->
    </div>
  </div>
</div>
{% endblock %}